In [1]:
import numpy as np
import pandas as pd

from raag_player import RaagPlayer

In [2]:
mela_df = pd.read_excel(r"Melakarta Raagams.xlsx")
mela_df.columns = ["_".join(i.strip().split()) for i in mela_df.columns]

for n in ['AROHANAM','AVAROHANA']:
    mela_df[n]  = mela_df[n].apply(lambda x: x.replace("\n","").split())
mela_df.head()

,MELA_NUMBER,MELA_NAME,AROHANAM,AVAROHANA
0,1,Kanakangi,"[S, R1, G1, M1, P, D1, N1, S]","[S, N1, D1, P, M1, G1, R1, S]"
1,2,Ratnangi,"[S, R1, G1, M1, P, D1, N2, S]","[S, N2, D1, P, M1, G1, R1, S]"
2,3,Ganamurti,"[S, R1, G1, M1, P, D1, N3, S]","[S, N3, D1, P, M1, G1, R1, S]"
3,4,Vanaspati,"[S, R1, G1, M1, P, D2, N2, S]","[S, N2, D2, P, M1, G1, R1, S]"
4,5,Manavati,"[S, R1, G1, M1, P, D2, N3, S]","[S, N3, D2, P, M1, G1, R1, S]"

In [8]:
raag_i = np.random.choice(range(mela_df.shape[0]),size=1)[0]

In [9]:
raag = mela_df.iloc[raag_i].to_dict()
print(raag['MELA_NAME'])
RaagPlayer(list(raag['AROHANAM'])[:-1])

Viswambari
['S', 'R1', 'G3', 'M2', 'P', 'D3', 'N3']
S 200
R1 213.33333333333334
G3 264.2
M2 281.25
P 300.0
D3 338.0
N3 380.0
S2 400
    0
S2 400
N3 380.0
D3 338.0
P 300.0
M2 281.25
G3 264.2
R1 213.33333333333334
S 200