In [1]:
import numpy as np
import pandas as pd

from raag_player import RaagPlayer
try: from ipywidgets import Dropdown
except: 
    !pip install ipywidgets
    from ipywidgets import Dropdown

In [2]:
mela_df = pd.read_excel(r"Melakarta Raagams.xlsx")
mela_df.columns = ["_".join(i.strip().split()) for i in mela_df.columns]

for n in ['AROHANAM','AVAROHANA']:
    mela_df[n]  = mela_df[n].apply(lambda x: x.replace("\n","").split())
mela_df.head()

,MELA_NUMBER,MELA_NAME,AROHANAM,AVAROHANA
0,1,Kanakangi,"[S, R1, G1, M1, P, D1, N1, S]","[S, N1, D1, P, M1, G1, R1, S]"
1,2,Ratnangi,"[S, R1, G1, M1, P, D1, N2, S]","[S, N2, D1, P, M1, G1, R1, S]"
2,3,Ganamurti,"[S, R1, G1, M1, P, D1, N3, S]","[S, N3, D1, P, M1, G1, R1, S]"
3,4,Vanaspati,"[S, R1, G1, M1, P, D2, N2, S]","[S, N2, D2, P, M1, G1, R1, S]"
4,5,Manavati,"[S, R1, G1, M1, P, D2, N3, S]","[S, N3, D2, P, M1, G1, R1, S]"

In [3]:
raag_i = np.random.choice(range(mela_df.shape[0]),size=1)[0]
raag = mela_df.iloc[raag_i].to_dict()
print(raag['MELA_NAME'])
RaagPlayer(list(raag['AROHANAM'])[:-1])

Viswambari
['S', 'R1', 'G3', 'M2', 'P', 'D3', 'N3']
S  R1 G3 M2 P  D3 N3 S2
S2 N3 D3 P  M2 G3 R1 S

In [4]:
d = Dropdown(options = sorted(mela_df['MELA_NAME']))

def print_selected(change):
  selected_value = change['new']  
  print(f"You selected: {selected_value}")
  RaagPlayer(mela_df[mela_df['MELA_NAME']==selected_value]['AROHANAM'].tolist()[0][:-1])
  print("\n")
d.observe(print_selected, names='value')
display(d)

Dropdown(options=('Bhavapriya', 'Chakravakam', 'Chalanata', 'Charukesi', 'Chitrambari', 'Dharmavati', 'Dhatuvaâ€¦

You selected: Mayamalavagaula
['S', 'R1', 'G3', 'M1', 'P', 'D1', 'N3']
S  R1 G3 M1 P  D1 N3 S2
S2 N3 D1 P  M1 G3 R1 S

You selected: Keeravani
['S', 'R2', 'G2', 'M1', 'P', 'D1', 'N3']
S  R2 G2 M1 P  D1 N3 S2
S2 N3 D1 P  M1 G2 R2 S