In [16]:
import pandas as pd 
import numpy as np

In [24]:
mr = pd.read_excel("..\Data\Tabular\All_Raagams.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\vishg\AppData\Local\Temp\ipykernel_17400\3379684453.py:1: SyntaxWarning: invalid escape sequence '\D'
  mr = pd.read_excel("..\Data\Tabular\All_Raagams.xlsx")

In [25]:
mr = mr[mr['Melakarta']==1]
mr['path'] = mr['AAROHANAM'].apply(lambda x: x.replace("\xa0","-"))
mr['value'] = 1
mr.to_csv("..\Data\Tabular\Melakarta_Raagams.csv", index = False)

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\vishg\AppData\Local\Temp\ipykernel_17400\2243583307.py:4: SyntaxWarning: invalid escape sequence '\D'
  mr.to_csv("..\Data\Tabular\Melakarta_Raagams.csv", index = False)

In [26]:

mr

,Raga Name Raw,Raga Name,AAROHANAM,AVAROHANAM,Melakarta,Melakarta Name,path,value
0,1 Kanakāngi (Janaka raga),Kanakāngi (Janaka raga),S R1 G1 M1 P D1 N1 S,S N1 D1 P M1 G1 R1 S,1.0,Kanakāngi (Janaka raga),S-R1-G1-M1-P-D1-N1-S,1
13,2 Ratnāngi,Ratnāngi,S R1 G1 M1 P D1 N2 S,S N2 D1 P M1 G1 R1 S,1.0,Ratnāngi,S-R1-G1-M1-P-D1-N2-S,1
21,3 Gānamūrti,Gānamūrti,S R1 G1 M1 P D1 N3 S,S N3 D1 P M1 G1 R1 S,1.0,Gānamūrti,S-R1-G1-M1-P-D1-N3-S,1
27,4 Vanaspati,Vanaspati,S R1 G1 M1 P D2 N2 S,S N2 D2 P M1 G1 R1 S,1.0,Vanaspati,S-R1-G1-M1-P-D2-N2-S,1
32,5 Mānavati,Mānavati,S R1 G1 M1 P D2 N3 S,S N3 D2 P M1 G1 R1 S,1.0,Mānavati,S-R1-G1-M1-P-D2-N3-S,1
...,...,...,...,...,...,...,...,...
954,68 Jyothisvarūpiṇi,Jyothisvarūpiṇi,S R3 G3 M2 P D1 N2 S,S N2 D1 P M2 G3 R3 S,1.0,Jyothisvarūpiṇi,S-R3-G3-M2-P-D1-N2-S,1
959,69 Dhātuvardhani,Dhātuvardhani,S R3 G3 M2 P D1 N3 S,S N3 D1 P M2 G3 R3 S,1.0,Dhātuvardhani,S-R3-G3-M2-P-D1-N3-S,1
964,70 Nāsikābhūśaṇi,Nāsikābhūśaṇi,S R3 G3 M2 P D2 N2 S,S N2 D2 P M2 G3 R3 S,1.0,Nāsikābhūśaṇi,S-R3-G3-M2-P-D2-N2-S,1
968,71 Kōsalam,Kōsalam,S R3 G3 M2 P D2 N3 S,S N3 D2 P M2 G3 R3 S,1.0,Kōsalam,S-R3-G3-M2-P-D2-N3-S,1
971,72 Rasikapriyā,Rasikapriyā,S R3 G3 M2 P D3 N3 S,S N3 D3 P M2 G3 R3 S,1.0,Rasikapriyā,S-R3-G3-M2-P-D3-N3-S,1

In [19]:
mr

,Raga Name Raw,Raga Name,AAROHANAM,AVAROHANAM,Melakarta,Melakarta Name
0,1 Kanakāngi (Janaka raga),Kanakāngi (Janaka raga),S R1 G1 M1 P D1 N1 S,S N1 D1 P M1 G1 R1 S,1.0,Kanakāngi (Janaka raga)
13,2 Ratnāngi,Ratnāngi,S R1 G1 M1 P D1 N2 S,S N2 D1 P M1 G1 R1 S,1.0,Ratnāngi
21,3 Gānamūrti,Gānamūrti,S R1 G1 M1 P D1 N3 S,S N3 D1 P M1 G1 R1 S,1.0,Gānamūrti
27,4 Vanaspati,Vanaspati,S R1 G1 M1 P D2 N2 S,S N2 D2 P M1 G1 R1 S,1.0,Vanaspati
32,5 Mānavati,Mānavati,S R1 G1 M1 P D2 N3 S,S N3 D2 P M1 G1 R1 S,1.0,Mānavati
...,...,...,...,...,...,...
954,68 Jyothisvarūpiṇi,Jyothisvarūpiṇi,S R3 G3 M2 P D1 N2 S,S N2 D1 P M2 G3 R3 S,1.0,Jyothisvarūpiṇi
959,69 Dhātuvardhani,Dhātuvardhani,S R3 G3 M2 P D1 N3 S,S N3 D1 P M2 G3 R3 S,1.0,Dhātuvardhani
964,70 Nāsikābhūśaṇi,Nāsikābhūśaṇi,S R3 G3 M2 P D2 N2 S,S N2 D2 P M2 G3 R3 S,1.0,Nāsikābhūśaṇi
968,71 Kōsalam,Kōsalam,S R3 G3 M2 P D2 N3 S,S N3 D2 P M2 G3 R3 S,1.0,Kōsalam
971,72 Rasikapriyā,Rasikapriyā,S R3 G3 M2 P D3 N3 S,S N3 D3 P M2 G3 R3 S,1.0,Rasikapriyā

In [23]:
print([i for i in mr.iloc[1,-2]])

['S', '-', 'R', '1', '-', 'G', '1', '-', 'M', '1', '-', 'P', '-', 'D', '1', '-', 'N', '2', '-', 'S']